##
## templates/documents/hit.vm
## Dispatcher para templates de documentos
##
## Verifica os campos do documento e chama o template apropriado
##

#set($docId = $doc.getFieldValue('id'))

<div class="result-document-wrapper">

    ## Documento do eProcesso (tem campo 'id' do eProcesso)
    #if($doc.getFieldValue('id'))
        #parse("documents/nfe-doc.vm")
    #else
        ## Fallback genérico
        <div class="result-document">
            <div class="result-title"><em>Documento sem identificação</em></div>
            <div class="result-body">
                #foreach($fieldName in $doc.fieldNames)
                    #if($doc.getFieldValue($fieldName))
                        <div><strong>$fieldName:</strong> $doc.getFieldValue($fieldName)</div>
                    #end
                #end
            </div>
        </div>
    #end

</div>
