##
## templates/documents/hit.vm
## Dispatcher para templates de documentos
##
## Verifica os campos do documento e chama o template apropriado
##

#set($docId = $doc.getFieldValue('id'))

<div class="result-document-wrapper">

    ## Documento do eProcesso (tem campo 'id' do eProcesso)
    #if($doc.getFieldValue('id'))
        #parse("documents/nfe-doc.vm")
    
    ## Documento de produto (tem campo 'name')
    #elseif($doc.getFieldValue('name'))
        #parse("documents/product-doc.vm")
    
    ## Documento join (tem campo 'compName_s')
    #elseif($doc.getFieldValue('compName_s'))
        #parse("documents/join-doc.vm")
    
    ## Fallback para richtext
    #else
        #parse("documents/richtext-doc.vm")
    
    #end

</div>
