## templates/documents/richtext-doc.vm
#set($docId = $doc.getFieldValue('id'))

<div class="result-document richtext-doc" id="doc-$docId">
    <div class="result-title">
        <a href="$doc.getFieldValue('url')">
            #field('title')
        </a>
    </div>
    
    <div class="result-meta">
        #if($doc.getFieldValue('author'))
            <span class="author">$doc.getFieldValue('author')</span>
        #end
        #if($doc.getFieldValue('last_modified'))
            <span class="date">$doc.getFieldValue('last_modified')</span>
        #end
    </div>
    
    <div class="result-body">
        #field('content')
    </div>
</div>