##
## components/filters/date-range-field.vm
## Campo de range de datas (De/Até)
##
## Parâmetros esperados:
## - $fieldId: ID base do campo (será sufixado com _from e _to)
## - $fieldLabel: Label do campo
##

<div class="form-group">
    <label>$fieldLabel</label>
    <div class="date-group">
        <div class="date-row">
            <label for="${fieldId}_from" class="date-label">De:</label>
            <input 
                type="date" 
                id="${fieldId}_from" 
                name="${fieldId}_from" 
                value="$!esc.html($params.get("${fieldId}_from"))"
                aria-label="$fieldLabel - Data inicial"
                max="9999-12-31"
            >
        </div>
        <div class="date-row">
            <label for="${fieldId}_to" class="date-label">Até:</label>
            <input 
                type="date" 
                id="${fieldId}_to" 
                name="${fieldId}_to" 
                value="$!esc.html($params.get("${fieldId}_to"))"
                aria-label="$fieldLabel - Data final"
                max="9999-12-31"
            >
        </div>
    </div>
</div>