##
## components/filters/text-field-with-toggle.vm
## Campo de texto com toggle de modo de busca (Contém/Não Contém/Igual)
##
## Parâmetros esperados (devem ser definidos ANTES do #parse):
## - $fieldId: ID do campo
## - $fieldLabel: Label do campo
## - $hasAutocomplete: boolean indicando se tem autocomplete
## - $inputMask: opcional, tipo de máscara (cpf, cnpj, etc)
##
## COMPORTAMENTO DO AUTOCOMPLETE:
## - Ao CLICAR no campo: mostra todos os valores do domínio
## - Ao DIGITAR: filtra os valores que contêm o texto digitado
## - Isso permite visualizar o padrão do conteúdo (maiúsculo/minúsculo)
##

<div class="form-group">
    <div class="field-wrapper">
        #if($hasAutocomplete)
            <span class="autocomplete-badge" title="Clique para ver opções disponíveis">
                <i class="fas fa-magic"></i> AUTO
            </span>
        #end
        <label for="$fieldId">$fieldLabel</label>
    </div>
    
    <div class="field-group">
        <input 
            type="text" 
            id="$fieldId" 
            name="$fieldId" 
            placeholder="#if($hasAutocomplete)Clique para ver opções ou digite...#else$fieldLabel#end" 
            value="$!esc.html($params.get($fieldId))"
            #if($hasAutocomplete)
                onfocus="Autocomplete.init(this)"
                autocomplete="off" 
                class="ac_input autocomplete-field"
                data-autocomplete="true"
                data-field="$fieldId"
            #end
            #if($inputMask)
                data-mask="$inputMask"
            #end
            aria-label="$fieldLabel"
        >
        
        <button
            type="button"
            class="toggle-switch" 
            data-mode="contains"
            data-field="$fieldId"
            onclick="ToggleMode.toggle(this)"
            title="Alterar modo de busca"
            aria-label="Modo de busca: Contém"
        >
            <span class="toggle-icon">✓</span>
            <span class="toggle-text">Contém</span>
        </button>
    </div>
</div>
