## ============================================
## templates/components/facets.vm
## ============================================
##
## Navegação facetada
##
#if($response.facetFields)
    <h2 title="Disponibiliza as diversas variáveis da coleção para servirem como filtros a busca em um clique">
        Busca Facetada
    </h2>

    #set($labelsMap = {})
    #set($labelsMap['grupo_processo_s'] = 'Grupo Processo')
    #set($labelsMap['dt_juntada_tdt'] = 'Data Juntada')
    #set($labelsMap['tipo_processo_s'] = 'Tipo Processo')
    #set($labelsMap['subtipo_processo_s'] = 'Subtipo Processo')
    #set($labelsMap['processo_s'] = 'Processo')
    #set($labelsMap['ni_contribuinte_l'] = 'NI Contribuinte')
    #set($labelsMap['situacao_s'] = 'Situação')
    #set($labelsMap['unidade_origem_s'] = 'Unidade Origem')
    #set($labelsMap['equipe_origem_s'] = 'Equipe Origem')
    #set($labelsMap['cpf_signatarios_s'] = 'CPF Signatário')
    #set($labelsMap['cpf_responsavel_s'] = 'CPF Responsável')
    #set($labelsMap['tipo_documento_s'] = 'Tipo Documento')
    #set($labelsMap['nome_contribuinte_s'] = 'Nome Contribuinte')
    #set($labelsMap['nome_equipe_atual_s'] = 'Nome Equipe Atual')
    #set($labelsMap['nome_unidade_atual_s'] = 'Nome Unidade Atual')
    #set($labelsMap['tributo_act_s'] = 'Tributo ACT do Processo')
    #set($labelsMap['tributo_processo_s'] = 'Tributo Processo')

    #foreach($field in $response.facetFields)
        #if($field.values.size() > 0)
            <span class="facet-field">
                #if($labelsMap.get($field.name)) 
                    $labelsMap.get($field.name) 
                #else 
                    $field.name 
                #end
            </span>
            <ul>
                #foreach($facet in $field.values)
                    <li>
                        <a href="#url_for_facet_filter($field.name, $facet.name)" 
                           title="$esc.html($facet.name)">
                            #if($facet.name != $null)
                                $esc.html($display.truncate($facet.name, 25))
                            #else
                                <em>vazio</em>
                            #end
                        </a> 
                        ($number.format('#,##0', $facet.count))
                    </li>
                #end
            </ul>
        #end
    #end
#end
