#pageResults{
    display: flex;
    flex:1;
}
#sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    background-color: white;
    padding:16px;
    overflow-y:auto;
}
.facetGroup{
    display:flex;
    flex-direction:column;
}
.facetGroup ul {
    display:flex;
    flex-direction:column;
    list-style-type: none;
    padding:0;
    gap:2px;
}
.facetTitle{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin:8px 0 4px 0;
}
.facetTitle img{
    width:16px;
    height:16px;
}
.faceText{
    display:flex;
}
.facetText button{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:none;
    background-color:transparent;
    width: 100%;
    padding:0 4px 0 8px;
    height:22px;
}
.facetText button:hover{
    background-color:#F7F9FA;
    border-radius: 4px 20px 20px 4px;
}
.facetText button:hover .facetNumber{
    background-color:#fff;
}
.facetNumber{
    background-color:#F7F9FA;
    padding: 0 6px;
    border-radius:20px;
    border:1px solid #ccc;
    font-size:11px;
}
/* right content */
#mainContent{
    display: flex;
    flex-direction: column;
    flex:1;
}
#results{
    flex:1;
    display: flex;
    flex-direction: column;
    
}
#pageResultsFooter{
    display: flex;
    padding: 8px 16px;
    border-top:1px solid #ddd;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    gap:24px;
}
#pageResultsFooterLeft{
    align-items: center;
    gap:24px;
    display: flex;
}