#pageResults{
    display: flex;
    flex:1;
}
#sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    background-color: white;
    padding:16px;
}
.facetGroup{
    display:flex;
    flex-direction:column;
}
.facetGroup ul {
    display:flex;
    flex-direction:column;
    list-style-type: none;
    padding:0;
}
.facetTitle{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.facetTitle img{
    width:16px;
    height:16px;
}
.faceText{
    display:flex;
}
.facetText button{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:none;
    background-color:transparent;
}
.facetText button:hover{
    background-color:#F7F9FA;
}
/* right content */
#mainContent{
    display: flex;
    flex-direction: column;
    flex:1;
}
#results{
    flex:1;
    display: flex;
    flex-direction: column;
    
}
#pageResultsFooter{
    display: flex;
    padding: 8px 16px;
    border-top:1px solid #ddd;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    gap:24px;
}
#pageResultsFooterLeft{
    align-items: center;
    gap:24px;
    display: flex;
}