search{
    flex:1;
    display: flex;
}
.searchForm{
    display: flex;
    flex:1;
    gap:4px;
    justify-content: end;
}
.searchInputWraper{
    flex:1;
    display: flex;
    max-width: 600px;
    position: relative;
}
.searchIcon{
    position: absolute;
    left: 6px;
    top:6px;
    width: 20px;
    height: 20px;
}
.searchInput{
    flex:1;
    padding: 0 72px 0 28px;
    border:1px solid #ddd;
    border-radius: 4px;
}
.searchCloseBtn{
    position: absolute;
    top:5px;
    right: 44px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-radius: 20px;
    padding: 0;
}
.searchCloseBtn img{
    width: 14px;
    height: 14px;
    display: block;
}
.searchKBD{
    position: absolute;
    top:5px;
    right: 5px;
    border:1px solid #ddd;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    border-radius: 2px;
}